<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CMS</title>
    <link rel="stylesheet" href={{css}} type='text/css'>
    <meta name="author" content="Krzysztof" />
    <meta name="robots" content="index,follow"/>
    <meta name="keywords" content="mysite"/>
    <meta name="description" content="website"/>
    <script src={{scriptURL}} > type="text/javascript"</script>
</head>
<body background={{backgroundURL}}>

<form method="post" action="/hello">
    <input type="submit" value="Log Out">
</form>
    <form method="post" action="/edited">
        <h1>Logged!!!</h1>
        <button type="submit">Save</button>
    </form>
</body>
</html>