<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CMS</title>
    <link rel="stylesheet" href={{css}} type='text/css'>
    <meta name="author" content="Krzysztof" />
    <meta name="robots" content="index,follow"/>
    <meta name="keywords" content="mysite"/>
    <meta name="description" content="website"/>
</head>
<body background={{backgroundURL}}>

<form method="post" action="/hello">
    <input type="submit" value="Log Out">
</form>
    <form method="post" action="/edited">
        <h1>Welcome in CMS!</h1>
        <h2>Edit intro to web site header:</h2><br>
        <textarea maxlength="250">{{headerIntro}}</textarea>
        <h2>Edit intro to web site describe:</h2><br>
        <textarea maxlength="1000">{{describeIntro}}</textarea><br>
        <button type="submit">Save</button>
    </form>
</body>
</html>