<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Changes saved</title>
</head>
<body>
    <h1>Changes saved!</h1><br><br>
    <a href="/cms"><button>Back to CMS</button></a>
</body>
</html>